.gameboard {
  width: fit-content;
  box-shadow: 1px 2px 3px black;
}

.gameboard.hidden .square{
  background-color: rgba(255, 255, 255, .95);
}

.square.has-ship.sunk {
  background-color: red
}

.arena div .board>.gameboard.hidden+.controls button {
  display: none;
  background: black;
}


.controls {
  display: flex;
  justify-content: center;
}

.controls button {
  font-family: 'Roboto Condensed';
  font-size: 15px;
  padding: 8px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 5px black;
}

.row {
  display: flex;
  width: fit-content;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .95);
  border: 1px solid rgba(0, 0, 0, .1);
  height: 25px;
  width: 25px;
}

.square:hover {
  background-color: black;
}

.square.target:hover {
  background-color: red;
}

.square.placing-ship {
  background-color: lightgrey;
}


.has-ship {
  background-color: grey;
}

.attacked {
  color: red;
}