.gameboard {
  width: fit-content;
}

.gameboard.hidden .square{
  background-color: white;
}

.row {
  display: flex;
  width: fit-content;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .1);
  height: 20px;
  width: 20px;
}

.square:hover {
  background-color: black;
}

.square.target:hover {
  background-color: red;
}

.square.placing-ship {
  background-color: lightgrey;
}


.has-ship {
  background-color: grey;
}

.attacked {
  color: red;
}