@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Roboto+Condensed&display=swap');

body {
  display: flex;
  justify-content: center;
  background: aqua;
}

.banner,
.name {
  text-align: center;
}

.banner h1{
  font-family: Nabla;
  font-size: 60px;

  margin-bottom: 0;
}

.name {
  font-family: 'Roboto Condensed';
  color: rgba(0, 0, 0, .7);
}