@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Roboto+Condensed&display=swap');

body {
  display: flex;
  justify-content: center;
  background: aqua;
}

.banner,
.name {
  text-align: center;
}

.banner h1{
  font-family: Nabla;
  font-size: 60px;

  margin-bottom: 0;
}

.name {
  font-family: 'Roboto Condensed';
  color: rgba(0, 0, 0, .7);
}

.drop-down-menu {
  position: absolute;
  left: 0;
}

.drop-down-menu .drop-down {
  /* position: relative; */
  left: 100%;
  transform: translateY(-100%);
  height: auto;

  background: aqua;
}

.drop-down-menu .menu-header h1 {
  font-size: 15px;
}

.drop-down-menu .drop-down ul {
  padding: 10px 30px;
}